body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    line-height: 20px
  }
  
  .container {
    width: 900px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 2px 7px 5px gray;
    border: 5px solid gray;
  }
  
  h1 {
    text-align: center;
    letter-spacing: 8px;
  }
  
  .texto {
    text-align: center;
  }
  
  .colortit1 {
    color: rgb(15, 120, 78);
  }
  
  .colortit2 {
    color: rgb(227, 195, 98);
  }
  
  h2 {
    color: rgb(71, 237, 112);
  }
  
  h2:after {
    content: " ";
    display: block;
    border: 1px solid rgb(71, 237, 112);
  }
  
  h3 {
    color: rgb(193, 161, 66);
  }
  
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  
  .marcointerno {
    border: 1px solid gray;
    padding: 30px;
    margin: 30px 0;
    width: 75%;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .menu {
    width: 20%;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: white;
    background-color: rgb(38, 184, 125);
    border: rgb(0, 0, 0);
    border-radius: 0px;
    text-align: center;
    width: 100px; /* Se ajusta automáticamente al contenido */
    height: auto; /* Se ajusta automáticamente al contenido */
    line-height: normal; /* Restauramos el valor predeterminado */
    box-sizing: border-box;
    
}
  
  .button:hover {
    background-color: rgb(12, 97, 63);
  }
