body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    line-height: 20px
  }
  
  .container {
    width: 900px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 2px 7px 5px gray;
    border: 5px solid gray;
  }
  
  h1 {
    text-align: center;
    letter-spacing: 8px;
  }
  
  .texto {
    text-align: center;
  }
  
  .colortit1 {
    color: rgb(15, 120, 78);
  }
  
  .colortit2 {
    color: rgb(227, 195, 98);
  }
  
  h2 {
    color: rgb(71, 237, 112);
  }
  
  h2:after {
    content: " ";
    display: block;
    border: 1px solid rgb(71, 237, 112);
  }
  
  h3 {
    color: rgb(193, 161, 66);
  }
  
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  
  .marcointerno {
    border: 1px solid gray;
    padding: 10px; 
    margin: 30px;
    width: 75%;
   
      background: linear-gradient(to bottom, rgb(233, 230, 230), white, rgb(233, 230, 230));
    
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .menu {
    width: 20%;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  .menu li {
    margin: 5px 0;
  }

  .button {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(3, 102, 67);
    border-radius: 0px;
    padding: 6%;
  }
  
  .button.inicio {
    background: linear-gradient(#f69d3c, #ffffff);
  }
  
  .button.verde {
    background: linear-gradient(#45df22, #ffffff);
  }
  
  .button.inicio:hover {
    background: rgb(203, 159, 39)
  }
  
  .button.verde:hover {
    background: #3dc61e
  }
