body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #141414;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar img.logo {
    height: 35px;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar li {
    margin-left: 20px;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar .menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.navbar .icons {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.navbar .icons img {
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.hero {
    position: relative;
    height: 60vh;
    background-image: url(imagenesNetflix/bannersao.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.hero h1 {
    font-size: 3em;
    margin: 0;
}
.row {
    padding: 20px;
}
.row h2 {
    margin: 0;
    margin-bottom: 10px;
}
.row .thumbnails {
    display: flex;
    overflow-x: auto;
}
.row .thumbnails img {
    width: calc(20% - 10px);
    height: auto;
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

  .row .thumbnails img:hover {
            transform: scale(1.1);
        }